# Node.js
Administrator/node_modules/
adminClient/node_modules/
fixerClient/node_modules/
professionalClient/node_modules/
server/node_modules/

# Testing coverage files
fixerClient/coverage/
professionalClient/coverage/
Administrator/coverage/

# Logs
*/.env

# Environment variables

# Build directories

# Temporary files

