name: coverage-report
on:
  pull_request_target:
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ArtiomTr/jest-coverage-report-action@v2.3.1
        with:
          working-directory: professionalClient
          github-token: ${{ secrets.GITHUB_TOKEN }}