name: coverage-report

on:
  pull_request_target:

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install
        working-directory: professionalClient

      - name: Run tests and generate coverage report
        run: npm run test-coverage
        working-directory: professionalClient

      - name: Upload coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2.3.1
        with:
          working-directory: professionalClient
          github-token: ${{ secrets.GITHUB_TOKEN }}
