name: coverage-report
on:
  pull_request:
  push:
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install
        working-directory: professionalClient

      - name: Run Jest Coverage Report
        uses: artiomtr/jest-coverage-report-action@v2
        with:
          working-directory: professionalClient