name: coverage-report
on:
  pull_request_target:
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Jest Annotations & Coverage
        uses: mattallty/jest-github-action@v1.0.3
